@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.title{
    display: flex;
    position: relative;
    height: 80px;
    width: 900px;
    background: rgb(93,76,84);
    background: linear-gradient(90deg, rgba(130,62,94,0.2) 0% 
    10%, rgba(138,121,166,0.2) 73%, rgba(255,191,192,0.1) 100%);
}
.title h1{
    display: flex;
    position: absolute;
    font-size: 2.4rem;
    letter-spacing: 1px;
    margin-top: 10px;
    left: 5px;
}
.description{
    display: flex;
    position: relative;
    font-size: 0.9rem;
    position: absolute;
    width: 800px;
    top: 85px;
    left: 13px;
}

body{
    background-image: url(../img/backgroundImg.jpg);
    background-repeat: no-repeat;
    display: flex;
}
.StyledClock{
    display: flex;
    position: absolute;
    font-size: 4.8rem;
    text-shadow: 0px 0px 20px rgb(0,0,0,0.4);
    color:#fff;
    font-weight: 300;
    font-style: normal;
    width: 200px;
    height: 100px;
    top: 20px;
    left: 85%;
}
.container_main {
    display: flex;
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition: transform 1.5s ease;
    transform: translateX(0); 
}
.container_secondary {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    transform: translateX(0); /* Inicialmente escondido atrás do container_main */
    opacity: 0; /* Começa transparente */
    pointer-events: none; /* Não captura eventos */
    transition: transform 0.8s ease, opacity 0.8s ease;
}
.container_main.container_active {
    transform: translateX(-100%); /* Move container_main para a esquerda */
  }
  
  .container_main.container_active + .container_secondary {
    opacity: 1; /* Torna container_secondary visível */
    pointer-events: auto; /* Habilita captura de eventos */
}
.calendar{
    display: flex;
    position: absolute;
    top: 220px;
    left: 120px;
    width: 700px;
    height: 500px;
}
.wrapper{
    width: 700px;
    background: #fff;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 0 60px 5px rgb(127, 127, 127);
}
.icons_more{
    display: flex;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}
.icons_more span{
    font-size: 25px;
    color: black;
}
.wrapper header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 30px 10px;
}
header .current-date{
    font-size: 2rem;
    font-weight: 500;
}
header .icons span{
    height: 38px;
    width: 38px;
    margin: 0 3px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
}
header .icons span:hover{
    background: #f2f2f2;
}
header .icons span:last-child{
    margin-right: -10px;
}
.calendar_body{
    top: 40px;
    padding: 20px;
}
.calendar_body ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}
.calendar_body .days{
    margin-bottom: 20px;
}
.calendar_body .weeks li{
    font-weight: 500;
    font-size: 1.1rem;
}
.calendar_body .days li{
    margin-top: 30px;
    cursor: pointer;
    z-index: 1;
}
.days li.inactive{
    color: #aaa;
}
.days li.active{
    color: #fff;
}
.calendar_body ul li{
    position: relative;
    width: calc(100% / 7);
}
.calendar_body .days li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.days li:hover:before{
    background: #f2f2f2;
}
.days li.active::before{
    background: #715bb9;
}
.events{
    display: flex;
    position: absolute;
    top: 220px;
    left: 820px;
    width: 300px;
    height: 500px;
    border-radius: 0 10px 10px 0;
    background: #715bb9;
    flex-direction: column;
}
.events h1{
    margin-left: auto; 
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #fff;
}
.weeks .events_add{
    display: flex;
    margin-left: auto; 
    margin-right: auto;
}
.events_add li{
    margin-left: 10px;
    line-height: 30px;
    list-style: none;
    color: #000;
}

.events2{
    display: flex;
    position: absolute;
    top: 220px;
    left: 120px;
    width: 300px;
    height: 500px;
    border-radius: 10px 0 0 10px;
    background: #715bb9;
    flex-direction: column;
}
.events2 h1{
    margin-left: auto; 
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #fff;
}
.events2 .events_add {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}

.events2 .events_add li {
    color: #fff;
    margin-bottom: 10px;
}

.return_event {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #5c4993;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.8s ease;
}

.events2 .return_event:hover {
    background-color: #463b7a;
}
.add_event_button {
    position: absolute;
    bottom: 10px;
    right: 10px; 
    padding: 10px 20px;
    background-color: #5c4993;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.8s ease;
}

.events2 .add_event_button:hover {
    background-color: #463b7a;
}
.creat_events{ 
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    top: 220px;
    left: 420px;
    width: 700px;
    height: 500px;
    background: #fff;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    box-sizing: border-box;
}
.title_event {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
}
.creat_events h1{
    margin: 0px 0px;
    font-size: 2.5em;
}
.creat_events h1::after{
    content: '';
    display: block;
    width: 110px;
    height: 5px;
    background-color: #715bb9;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}
.input_group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
}

.title_group,
.input_date,
.area_description {
    display: flex;
    gap: 10px;
    align-items: center;
}

.title_group label,
.input_date label{
    text-align: right;
    margin-right: 10px;
}

.title_group input[type="text"],
.area_description textarea {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.input_date .date_event_start{
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.input_date .date_event_end{
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.area_description label{
    margin-top: -70px;
}
.input_repetition {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.input_repetition label {
    margin-right: 10px;
}

.input_repetition input[type="radio"] {
    margin-top: 5px;
}

.area_description textarea {
    resize: none;
    min-height: 100px;
}

.creat_events .add_event {
    margin: auto;
    margin-top: 18px;
    padding: 10px 20px;
    background-color: #715bb9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.8s ease
}
.creat_events .add_event:hover{
    background-color: #463b7a;
}
.hidden{
    display: none;
}